<div class="card">
  <h2 class="card-title text-center">請修改你的支出</h2>
  <div class="card-body">
    <form action="/records/{{record.id}}?_method=PUT" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="name">名稱*</label>
        </div>
        <input type="text" name="name" id="name" class="form-control" value="{{record.name}}" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="date">日期*</label>
        </div>
        <input type="date" name="date" id="date" class="form-control" value="{{record.date}}" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category">類別*</label>
        </div>
        <input type="text" name="category" id="category" class="form-control" value="{{record.category}}" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="amount">金額*</label>
        </div>
        <input type="number" name="amount" id="amount" class="form-control" value="{{record.amount}}" required>
      </div>

      <div class="row justify-content-center">
        <button type="submit" class="col-6 btn btn-primary">送出</button>
      </div>
    </form>
  </div>
</div>