<ul class="list-group">
  <li class="list-group-item bg-light border-0">
    <form method="get" action="/records">
      <div class="row justify-content-end mb-3">
        <div class="col-12 col-sm-6 col-lg-3">
          <input type="month" name="month" id="month" class="form-control" value="{{filterMonth}}" placeholder="選擇月份..."
            onChange="this.form.submit()">
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <select class="custom-select" name="category" id="category" onChange="this.form.submit()">
            {{#each category}}
            <option value="{{@key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </form>
  </li>
  <li class="list-group-item bg-light">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <p>總金額: </p>
      </div>
      <div class="col-auto">
        <h1 class="text-primary">{{totalAmount}}</h1>
      </div>
    </div>
  </li>
  {{#each records}}
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-4 col-sm-1">
        <i class="fas {{this.icon}} fa-2x text-info"></i>
      </div>
      <div class="col-8 col-sm-4 mr-auto">
        <h3>{{this.name}}</h3>
        <p class="m-0">{{this.merchant}}</p>
        <p class="m-0">{{moment this.date format="YYYY-MM-DD"}}</p>
      </div>
      <div class="col-auto mr-auto">
        <h3>{{this.amount}}</h3>
      </div>
      <div class="col-auto">
        <a href="/records/{{this.id}}/edit" class="btn btn-success">修改</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger mx-1" data-toggle="modal"
          data-target="#deleteCheckModal{{this.id}}">
          刪除
        </button>
      </div>
    </div>
  </li>
  <!-- Modal -->
  <div class="modal fade" id="deleteCheckModal{{this.id}}" tabindex="-1" role="dialog"
    aria-labelledby="deleteCheckModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCheckModalLabel">刪除確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          確認要刪除嗎?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <form action="/records/{{this.id}}/delete?_method=DELETE" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger mx-1">刪除</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</ul>

<div class="row justify-content-center my-3">
  <a class="btn btn-primary col-6" href="/records/new">新增支出</a>
</div>