<div class="row justify-content-end mb-3">
  <div class="col-auto">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{categorySel}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each category}}
      <a class="dropdown-item" href="/records?filter={{@key}}">{{this.label}}</a>
      {{/each}}
    </div>
  </div>
</div>
<ul class="list-group">
  <li class="list-group-item bg-light">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <p>總金額: </p>
      </div>
      <div class="col-auto">
        <h1 class="text-primary">{{totalAmount}}</h1>
      </div>
    </div>
  </li>
  {{#each records}}
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-1">
        <i class="fas {{this.icon}} fa-2x text-info"></i>
      </div>
      <div class="col-4 mr-auto">
        <h3>{{this.name}}</h3>
        <p>{{this.date}}</p>
      </div>
      <div class="col-auto mr-auto">
        <h3>{{this.amount}}</h3>
      </div>
      <div class="col-auto">
        <a href="/records/{{this.id}}/edit" class="btn btn-success">修改</a>
        <form action="/records/{{this.id}}/delete?_method=DELETE" method="post" style="display: inline-block;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div class="row justify-content-center my-3">
  <a class="btn btn-primary col-6" href="/records/new">新增支出</a>
</div>